.itemContainer {
    margin-top: 3rem;
    margin-right: 2rem;
    margin-left: 2rem;
    text-align: center;
    background-color: #e7e7e7;
    -webkit-box-shadow: 0px 5px 15px 1px #87b090; 
    box-shadow: 0px 5px 15px 1px #87b090;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.6s ease;
}


.itemContainer:hover {
    -webkit-box-shadow: 0px 5px 15px 18px #87b090; 
    box-shadow: 0px 5px 15px 18px #87b090;
    /* transform: translateY(-3%) translateX(-1%); */
    transform: scale(1.05);
}

.itemContainer h2 {
    padding: 0rem;
    margin: 0rem;
}

.itemContainer h3 {
    padding: 0rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.itemContainer img {
    width: 272px;
    height: 272px;
}
