.ItemCount {
    text-align: center;
    padding: .3rem 0rem 1rem 0rem;
}

.btnLess {
    padding: 0.3rem;
    padding-right: .4rem;
    padding-left: .4rem;
    font-size: 20px;
    font-weight: bold;
    background-color: #1b272b;
    color: #87b093;
    border: none;
    border-radius: 10px;
    margin: 1rem;
    transition: .5s all ease;
    cursor: pointer;
}

.btnAdd {
    padding: 0.3rem;
    font-size: 20px;
    font-weight: bold;
    background-color: #1b272b;
    color: #87b093;
    border: none;
    border-radius: 10px;
    margin: 1rem;
    transition: .5s all ease;
    cursor: pointer;

}

.btnAdd:hover, .btnLess:hover {
    background-color: white;
}

.count {
    background-color: #95b19e;
    padding: .5rem;
    border: 1px solid #1b272b;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #1b272b;
}


.btnBuy {
    text-align: center;
    margin-bottom: .3rem;
    padding: .5rem;
    color: white;
    border-radius: 10px;
    border: 3px solid #1b272b;
    background-color: #87b093;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: .2rem;
    transition: .5s all ease-in-out;
}

.btnBuy:hover {
    cursor: pointer;
    background-color: #1b272b;
    color: #95b19e;
}